@page
@using AbpSolution1.Localization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model AbpSolution1.Web.Pages.Departments.IndexModel
@inject IStringLocalizer<AbpSolution1Resource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
    <abp-script src="/Pages/Departments/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Department"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="DepartmentTable"></abp-table>
    </abp-card-body>
</abp-card>